version: 2.1
jobs:
    build:
        docker:
          - image: circleci/node:buster-browsers
        steps:
          - checkout

          - run: curl -L https://unpkg.com/@pnpm/self-installer | sudo node

          - restore_cache:
              keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-

          - run: pnpm install

          - save_cache:
              paths:
                - ~/.pnpm-store
              key: v1-dependencies-{{ checksum "package.json" }}

          - run: pnpm run build
          - run: pnpm test
